In [1]:
import string
import re
import pandas as pd

# Cleaning up header description file

In [2]:
column_labels_filepath = "../../data/Basecamp Download/Teamsters_data_layout_plain.txt"

f = open(column_labels_filepath)
lines = [filter(lambda x: x in string.printable, line).strip() for line in f]
f.close()

In [3]:
lines

['Claims file layout',
 'Client Code',
 'Claim #',
 'Line #',
 'Ee_#',
 'Unique',
 'Hcpcs/cpt4',
 'Revenue',
 'Place Of Service',
 'From_date',
 'Thru_date',
 'Paid_amount',
 'Provider_id',
 'Specialty',
 'Provider Last Name',
 'Provider First Name',
 'Provider Middle Int',
 'Provider User Defin',
 'Provider User Defin',
 'Diag1',
 'Diag2',
 'Diag3',
 'Diag4',
 'Procedure Code 1',
 'Procedure Code 2',
 'Procedure Code 3',
 'Procedure Code 4',
 '',
 'Patient information file',
 'Sub Client Code',
 'Member_id',
 'Unique Id',
 'Member_dob',
 'Member_gender',
 'Member_last_name',
 'Member_first_name',
 'Member_middle_init',
 'Street_address1',
 'Street_address2',
 'City',
 'State',
 'Postal_code',
 'Phone#',
 'Relation_id',
 'User Field 1',
 'User Field 2',
 'User Field 3',
 'Group Number',
 'Group_description',
 'Product_code',
 'Rx_bene_available',
 'Rx_data_available',
 'User Defined_1',
 'User Defined_2',
 'User Defined_3',
 'User Defined_4',
 'Enrollment_date',
 'Disenrollment_date',
 'Plan Number',
 'E-mail',
 '',
 'RX Claims file',
 'Sub Client Code',
 'Claim Number',
 'Claim Sequence #',
 'Member_id',
 'Unique Id',
 'Date Of Service',
 'Ndc',
 'Quantity',
 'Days Supply',
 'Paid Amount',
 'Adjustment_code']

Find splits in header description file

In [4]:
break_indices = []
for i, line in enumerate(lines):
    if len(line) == 0:
        break_indices.append(i)
print break_indices

[27, 60]

In [5]:
claims_header = [] 
for line in lines[1:break_indices[0]]:
    claims_header.append(line)
print "number of columns for claims:", len(claims_header)

number of columns for claims: 26

In [6]:
patientInfo_header = [] 
for line in lines[break_indices[0]+2:break_indices[1]]:
    patientInfo_header.append(line)
print "number of columns for patient info:", len(patientInfo_header)

number of columns for patient info: 31

In [7]:
RXclaims_header = [] 
for line in lines[break_indices[1]+2:]:
    RXclaims_header.append(line)
print "number of columns for RX claims:", len(RXclaims_header)

number of columns for RX claims: 11

# Create "clean" headers: remove white space and other funky characters

In [8]:
claims_header = [re.sub(r'\W+', '', s.replace("#", "NUM")) for s in claims_header]
patientInfo_header = [re.sub(r'\W+', '', s.replace("#", "NUM")) for s in patientInfo_header]
RXclaims_header = [re.sub(r'\W+', '', s.replace("#", "NUM")) for s in RXclaims_header]

# Create clean claims data

In [9]:
claims_path = "../../data/Basecamp Download/DHS_20140801-20150731_JUL_Claims_1.txt"

claimsDF = pd.read_csv(claims_path, sep='\t', header=None)

In [14]:
claimsDF.head()

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,DHS,2014112467116,10,07500351D,3,99202,,11,11/12/2014,11/12/2014,...,,,754.2,728.85,739.3,,,,,
1,DHS,2014112467116,20,07500351D,3,72070,,11,11/12/2014,11/12/2014,...,,,754.2,728.85,739.3,,,,,
2,DHS,2014112467116,30,07500351D,3,98940,,11,11/12/2014,11/12/2014,...,,,754.2,728.85,739.3,,,,,
3,DHS,2014112467116,40,07500351D,3,98940,,11,11/13/2014,11/13/2014,...,,,754.2,728.85,739.3,,,,,
4,DHS,2014120567002,10,07500351D,3,98940,,11,11/17/2014,11/17/2014,...,,,754.2,728.85,739.3,,,,,

In [15]:
claimsDF.columns = claims_header

In [16]:
claimsDF.head()

,ClientCode,ClaimNUM,LineNUM,Ee_NUM,Unique,Hcpcscpt4,Revenue,PlaceOfService,From_date,Thru_date,...,ProviderUserDefin,ProviderUserDefin,Diag1,Diag2,Diag3,Diag4,ProcedureCode1,ProcedureCode2,ProcedureCode3,ProcedureCode4
0,DHS,2014112467116,10,07500351D,3,99202,,11,11/12/2014,11/12/2014,...,,,754.2,728.85,739.3,,,,,
1,DHS,2014112467116,20,07500351D,3,72070,,11,11/12/2014,11/12/2014,...,,,754.2,728.85,739.3,,,,,
2,DHS,2014112467116,30,07500351D,3,98940,,11,11/12/2014,11/12/2014,...,,,754.2,728.85,739.3,,,,,
3,DHS,2014112467116,40,07500351D,3,98940,,11,11/13/2014,11/13/2014,...,,,754.2,728.85,739.3,,,,,
4,DHS,2014120567002,10,07500351D,3,98940,,11,11/17/2014,11/17/2014,...,,,754.2,728.85,739.3,,,,,

# Create clean Patient Info data

In [11]:
patient_path = "../../data/Basecamp Download/DHS_20140801-20150731_JUL_Elig_1.xlsx"

patientDF = pd.read_excel(patient_path, header = None)

In [12]:
patientDF.head()

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,DHS,07500351D,1,NaN,M,NaN,NaN,NaN,NaN,NaN,...,PPO,Y,N,NaN,NaN,NaN,NaN,2002-01-01,NaN,75
1,DHS,07500351D,3,NaN,F,NaN,NaN,NaN,NaN,NaN,...,PPO,Y,N,NaN,NaN,NaN,NaN,2009-03-06,NaN,75
2,DHS,07500351D,4,NaN,F,NaN,NaN,NaN,NaN,NaN,...,PPO,Y,N,NaN,NaN,NaN,NaN,2009-09-11,NaN,75
3,DHS,07500456D,1,NaN,M,NaN,NaN,NaN,NaN,NaN,...,PPO,Y,N,NaN,NaN,NaN,NaN,1991-02-01,2015-02-28 00:00:00,75
4,DHS,07500456D,2,NaN,F,NaN,NaN,NaN,NaN,NaN,...,PPO,Y,N,NaN,NaN,NaN,NaN,1991-02-01,2015-02-28 00:00:00,75

In [19]:
patientDF.columns = patientInfo_header[:-1]

In [20]:
patientDF.head()

,SubClientCode,Member_id,UniqueId,Member_dob,Member_gender,Member_last_name,Member_first_name,Member_middle_init,Street_address1,Street_address2,...,Product_code,Rx_bene_available,Rx_data_available,UserDefined_1,UserDefined_2,UserDefined_3,UserDefined_4,Enrollment_date,Disenrollment_date,PlanNumber
0,DHS,07500351D,1,NaN,M,NaN,NaN,NaN,NaN,NaN,...,PPO,Y,N,NaN,NaN,NaN,NaN,2002-01-01,NaN,75
1,DHS,07500351D,3,NaN,F,NaN,NaN,NaN,NaN,NaN,...,PPO,Y,N,NaN,NaN,NaN,NaN,2009-03-06,NaN,75
2,DHS,07500351D,4,NaN,F,NaN,NaN,NaN,NaN,NaN,...,PPO,Y,N,NaN,NaN,NaN,NaN,2009-09-11,NaN,75
3,DHS,07500456D,1,NaN,M,NaN,NaN,NaN,NaN,NaN,...,PPO,Y,N,NaN,NaN,NaN,NaN,1991-02-01,2015-02-28 00:00:00,75
4,DHS,07500456D,2,NaN,F,NaN,NaN,NaN,NaN,NaN,...,PPO,Y,N,NaN,NaN,NaN,NaN,1991-02-01,2015-02-28 00:00:00,75

#Create clean RX claims data

In [21]:
RXclaims_path = "../../data/Basecamp Download/DHS_20140801-20150731_JUL_RX_1.txt"

RXclaimsDF = pd.read_csv(RXclaims_path, sep='\t', header=None)

In [22]:
RXclaimsDF.head()

,0,1,2,3,4,5,6,7,8,9,10
0,DHS,10158620654,999,07500192D,1,06/07/2010,93714618,-6,6,-17.17,CR
1,DHS,10158620654,999,07500192D,1,06/07/2010,93714618,6,6,17.17,
2,DHS,10158620654,998,07500192D,1,06/07/2010,93714656,6,6,17.17,
3,DHS,10231696683,999,07500192D,1,08/19/2010,93117410,28,7,3.90,
4,DHS,10321707512,999,07500192D,1,11/17/2010,555021110,20,10,33.49,

In [23]:
RXclaimsDF.columns = RXclaims_header

In [24]:
RXclaimsDF.head()

,SubClientCode,ClaimNumber,ClaimSequenceNUM,Member_id,UniqueId,DateOfService,Ndc,Quantity,DaysSupply,PaidAmount,Adjustment_code
0,DHS,10158620654,999,07500192D,1,06/07/2010,93714618,-6,6,-17.17,CR
1,DHS,10158620654,999,07500192D,1,06/07/2010,93714618,6,6,17.17,
2,DHS,10158620654,998,07500192D,1,06/07/2010,93714656,6,6,17.17,
3,DHS,10231696683,999,07500192D,1,08/19/2010,93117410,28,7,3.90,
4,DHS,10321707512,999,07500192D,1,11/17/2010,555021110,20,10,33.49,

# Save results

In [25]:
claimsDF.to_csv("../../data/cleanData/claims.csv", index = False)
patientDF.to_csv("../../data/cleanData/patientInfo.csv", index = False)
RXclaimsDF.to_csv("../../data/cleanData/RXclaims.csv", index = False)